* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Oswald", sans-serif;

    --primary-color: #262b23;
    --secondary-color: #A9B9A6;
    --LightBlue: #8BBAE9;
    --darkBlue: #1A4EC7;
}