* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Oswald", sans-serif;

    --primary-color: #1c1c1c;
    --cinza-prata: #e5e5e5;
    --dourado-fosco: #d4af37;
    --azul: #3a6ea5;
    --azul-petroleo: #264653;
}